*.xlsx
*.csv
*.txt
*.pptx
venv/
.env_btu_3p10/
__pycache__/
*.pyc


!requirements.txt
!sample_day_ahead_prices.csv
!sample_installed_capacity.csv
!sample_intraday_prices.csv
!sample_pv_benchmark.csv
!sample_pv_forecasts.csv
!sample_pv_secondary_benchmark.csv
!sample_secondary_benchmark_cutoff.csv